body {
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(45deg, #193d81, #5d90d1);
    color: white;
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }

  .title {
    font-size: 40px;
  }
  
  .wrapper {
    max-width: 500px;
    margin: auto;
    width: 100%;
  }
  
  .break-session-length {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .break-session-length h2 {
    margin-bottom: 1.5rem;
    font-size: 20px;
  }
  
  .timer-wrapper {
    border: 5px solid #fff;
    border-radius: 10px;
    width: 300px;
    padding: 1rem;
    margin: 20px auto;
  }

  .numbers {
    margin: 0px 10px;
  }